<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height,initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <style>
        [data-booben-invisible],
        [data-booben-placeholder] {
            opacity: .35;
        }
    </style>
</head>

<body>
<div id="<%= boobenContainerId %>">Loading...</div>
<div id="<%= boobenOverlayId %>"></div>
</body>
</html>
