<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height,initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <style>
        [data-jssy-placeholder] {
            opacity: .25;
            cursor: default !important;
        }

        [data-jssy-placeholder]:hover {
            opacity: .5;
        }

        [data-jssy-snap-point] {
            width: 0;
            height: 0;
        }
    </style>
</head>

<body>
<div id="<%= jssyContainerId %>">Loading...</div>
<div id="<%= jssyOverlayId %>"></div>
</body>
</html>
