@charset "UTF-8";
@import '~@reactackle/reactackle/utils/global';

// =====================================================================================================================
// BASE VARIABLES
// =====================================================================================================================
$ctree-item-max-width:          rem-calc(300) !default;
$ctree-item-min-width:          rem-calc(100) !default;

$ctree-item-spacing:            $base-module/2 !default;
$ctree-item-pad-x:              $base-module !default;
$ctree-item-pad-y:              $base-module/2 !default;
$ctree-item-color:              $body-font-color !default;
$ctree-item-border-radius:      $global-radius !default;
$ctree-item-hover-bg-color:     transparentize($black, 0.93) !default;
$ctree-item-focus-bg-color:     color($yellow-palette, lightest) !default;
$ctree-item-font-size:          fs(0) !default;
$ctree-item-line-height:        1.3 !default;

$ctree-item-content-height:     $ctree-item-font-size*$ctree-item-line-height + $ctree-item-pad-y*2 !default;

$ctree-item-icon-box-size:      $ctree-item-font-size*$ctree-item-line-height + $ctree-item-pad-y*2 !default;
$ctree-item-icon-img-size:      $base-module*1.25 !default;
$ctree-item-icon-color:         $icon-dark-inactive-color !default;
$ctree-item-focus-icon-color:   $icon-dark-default-color !default;
$ctree-item-icon-spacing:       0 !default;
