@charset "UTF-8";
@import 'variables';

@include exports(function-editor) {
    // =================================================================================================================
    // BASE
    // =================================================================================================================
    .function-editor_heading{
        background-color: $grey-200;
        color: $color-text-medium;
        padding: $base-module rem-calc(30); // 30 - CodeMirror ruler width + border
        //border-top: 1px solid $color-border;
        //border-bottom: 1px solid $color-border;

        @include user-select;

        pre {
            padding: 0;
            margin: 0;
        }
    }

    .function-editor_wrapper {
        display: flex;
        align-items: stretch;

        .ReactCodeMirror {
            width: 100%;
        }
    }
}

