@charset "UTF-8";
@import 'variables';

@include exports(splash-screen) {
    .splash-screen {
        background-color: color($bg, 800);
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .splash-screen_image {
        font-size: fs(6);
        font-weight: 300;
        color: color($bg, 75);

        animation-iteration-count: infinite;

        @include animated(15s);
        @include flash;
    }
}

