@charset "UTF-8";
@import 'variables';

@include exports(function-editor) {
	// =================================================================================================================
	// BASE
	// =================================================================================================================
	.editor_library {
		width: rem-calc(220);
		overflow-y: auto;
	}

	.editor_library-item {
		& + & {
			margin-top: $base-module;
		}
	}

	// CONTENT
	.editor_library-item_title {
		font-size: fs(0);
		color: $body-font-color;
	}

	.editor_library-item_subtitle {
		font-size: fs(-1);
		color: $color-text-medium;
	}
}

