@charset "UTF-8";
@import '~@reactackle/reactackle/utils/global';
@import '../variables';

// =====================================================================================================================
// BASE VARIABLES
// =====================================================================================================================
$block-action-bar-item-font-size: fs(-1) !default;
$block-action-bar-item-line-height: 1.2 !default;
$block-action-bar-item-padding-y: $base-module*0.75 !default;
$block-action-bar-item-padding-x: $base-module*1.5 !default;