@charset "UTF-8";
@import 'variables';

@include exports(block-action-bar) {
	// =================================================================================================================
	// Base
	// =================================================================================================================
	.block-action-bar {
		padding: $base-module $bcontent-base-pad-x;
		text-align: right;
		border-top: 1px solid $bcontent-title-area-border-color;

		.dialog & {
			padding: $base-module $bcontent-indialog-base-pad-x;
		}
	}

	.block-action-bar_list {
		margin: 0 (-$block-action-bar-item-padding-x);
		width: calc(100% + #{$block-action-bar-item-padding-x*2});
	}


	// ITEM
	.action-bar_item {
		&,
		&:hover,
		&:focus {
			outline: none;
			box-shadow: none;
			border-color: transparent;
			background-color: transparent;
		}

		border-radius: $block-action-bar-item-line-height*$block-action-bar-item-font-size + $block-action-bar-item-padding-y;
		border: 1px solid transparent;

		font-size: $block-action-bar-item-font-size;
		line-height: $block-action-bar-item-line-height;
		color: $color-text-medium;
		padding: $block-action-bar-item-padding-y $block-action-bar-item-padding-x;
		cursor: $cursor-pointer;

		@include single-transition;
		@include transition-property(border, background-color);
		@include user-select();

		&:hover {
			border: 1px solid $grey-300;
		}

		&:focus {
			@include box-shadow;
		}

		&.is-active {
			background-color: $grey-300;
			color: $body-font-color;
		}
	}
}
