{
  "parser": "babel-eslint",
  "extends": "pedant",
  "rules": {
    "no-console": [0],
    "func-names": [0],
    "key-spacing": [2, {
      "beforeColon": false,
      "afterColon": true,
    }],
    "no-shadow": [0],
    "semi": [2, "always"],
    "no-extra-semi": [2],
    "space-before-function-paren": [0],
    "arrow-body-style": [2, "as-needed"],
    "no-else-return": [0],
    "space-infix-ops": [0],
    "react/prefer-es6-class": [0],
    "import/no-unresolved": [0],
    "global-require": [1],
    "prefer-template": [0],
    "no-unused-vars": [1],
    "no-unused-expressions": [0],
    "no-unsafe-negation": [0],
    "no-undef": [1],
    "curly": [1, "multi"],
    "import/no-extraneous-dependencies": [0],
    "react/jsx-filename-extension": [0],
    "no-void": [0],
    "one-var": [0],
    "jsx-a11y/anchor-has-content": [0],
    "react/jsx-curly-spacing": [0, "always"],
    "no-confusing-arrow": [0],
    "jsx-a11y/img-has-alt": [0],
    "no-mixed-operators": [0],
    "react/jsx-no-bind": [0],
    "no-bitwise": [0],
    "no-param-reassign": ["error", { "props": false }],
    "valid-jsdoc": [1],
    "arrow-parens": [0],
    "default-case": [1],
    "max-len": ["error", 90]
  },


  "globals": {
    "__PREFIX_LINKS__": true,
  },
}
