spin=false
registry=https://registry.npmjs.com/
@booben:registry=https://npm.ordbuy.com/
@reactackle:registry=https://npm.ordbuy.com/
@common:registry=https://npm.ordbuy.com/
@eslint:registry=https://npm.ordbuy.com/
