spin=false
registry=https://registry.npmjs.com/
//npm.ordbuy.com/:_authToken="cjiC5ZJ0YDeTD0CZNtbzSGUGFM5NtswV04m2zZYdVLU="
@jssy:registry=https://npm.ordbuy.com/
@reactackle:registry=https://npm.ordbuy.com/
@common:registry=https://npm.ordbuy.com/
@eslint:registry=https://npm.ordbuy.com/
