spin=false
registry=https://registry.npmjs.com/
//npm.ordbuy.com/:_authToken="+ecDrwpFAop6GZmWroLXdg=="
@jssy:registry=https://npm.ordbuy.com/
@reactackle:registry=https://npm.ordbuy.com/
@common:registry=https://npm.ordbuy.com/
@eslint:registry=https://npm.ordbuy.com/
