@charset "UTF-8";
@import '~@reactackle/reactackle/utils/global';

// =====================================================================================================================
// BASE VARIABLES
// =====================================================================================================================
$cplaceholder-z-index:          map_get($zindex, overlay) !default;

$cplaceholder-min-width:        rem-calc(100) !default;
$cplaceholder-min-height:       $cplaceholder-min-width !default;

$cplaceholder-main-color:       $darkblue !default;
$cplaceholder-bg-color:         transparentize($cplaceholder-main-color, 0.6) !default;
$cplaceholder-border-color:     scale_color($cplaceholder-main-color, $lightness:40%) !default;
$cplaceholder-border-width:     1px !default;
$cplaceholder-border-radius:    0 !default;

// Title
$cplaceholder-title-font-size:  fs(-2) !default;
$cplaceholder-title-line-height: 1.1 !default;
$cplaceholder-title-color:      $white !default;
$cplaceholder-title-bgcolor:    $cplaceholder-main-color !default;
$cplaceholder-title-padding:    $base-module/2 $base-module !default;