@charset "UTF-8";
@import '~@reactackle/reactackle/utils/global';

// Base Variables
// =====================================================================================================================
$prop-item-padding-x:           $base-module*2 !default;
$prop-item-padding-y:           $base-module !default;

//$prop-item-opened-bg-color:     transparentize($grey-100, 1) !default;
$prop-item-opened-bg-color:     transparent !default;
$prop-item-opened-border-color: $color-border !default;
$prop-item-opened-border-thickness: rem-calc(0) !default;
$prop-item-opened-padding-x:    $prop-item-padding-x !default;
$prop-item-opened-padding-y:    $prop-item-padding-y !default;

// Image
$prop-image-size:               $base-module*5 !default;
$prop-image-bg-color:           transparent !default;
$prop-image-spacing:            $base-module*1.5 !default;

// Actions
$prop-action-box-size:          $base-module*3.5 !default;
$prop-action-img-size:          $base-module*2 !default;
$prop-action-color:             $icon-dark-inactive-color !default;
$prop-action-hover-color:       $icon-dark-default-color !default;
$prop-action-margin-x:          $base-module/2 !default;
$prop-action-margin-y:          0 !default;
$prop-action-height:            $prop-action-box-size !default;

$prop-actions-margin-left:      $base-module !default;

// Icon
$prop-icon-border-radius:      $global-radius !default;

$prop-icon-box-size:           rem-calc(28) !default;
$prop-icon-img-size:           $base-module(16) !default;
$prop-icon-color:              $icon-dark-inactive-color !default;
$prop-icon-hover-color:        $icon-dark-default-color !default;
$prop-icon-hover-bg-color:     $grey-100 !default;
$prop-icon-margin:             $base-module/2 !default;

// List
$props-level-offset:            $base-module*2.5 !default;
$props-image-level-offset:      $prop-image-size + $prop-image-spacing !default;
$props-list-margin-bottom:      $base-module*1.5 !default;
$props-list-margin-top:         $base-module*1.5 !default;
$prop-list-padding-x:           $base-module*2 !default;
$prop-list-padding-y:           $base-module*2 !default;
$prop-list-padding:             $prop-list-padding-y $prop-list-padding-x !default;
$prop-list-bg-color:            $prop-item-opened-bg-color !default;

$prop-list-border-left-color:   transparent !default;
$prop-list-border-left-thickness: rem-calc(0) !default;
$prop-list-border-bottom-color:   $grey-200 !default;
$prop-list-border-bottom-thickness: rem-calc(2) !default;

// PROPS TYPES
// =====================================================================================================================
$prop-label-font-size:          fs(0) !default;
$prop-label-line-height:        1.2 !default;
$prop-label-font-weight:        $font-weight-normal !default;
$prop-label-text-transform:     none !default;
$prop-label-color:              $body-font-color !default;
$prop-label-flat-color:         $grey-500 !default;
$prop-label-margin-bottom:      0 !default;

$prop-required-size:            $base-module*0.75 !default;

// =====================================================================================================================
// PROP: constructor
// =====================================================================================================================
$prop-constructor-button-margin-top:    0 !default;
$prop-constructor-toggle-spacing:       $base-module/2 !default;

// =====================================================================================================================
// PROP: tree
// =====================================================================================================================

// New field
// =====================================================================================================================
$prop-add-field-margin-top:         $base-module !default;

//$prop-new-field-bg-color:           transparent !default;
$prop-new-field-bg-color:           color($yellow-palette, lightest) !default;
$prop-new-field-pad-y:              $prop-list-padding-y !default;
$prop-new-field-pad-x:              $prop-list-padding-x !default;
$prop-new-field-element-spacing:    $base-module*2 !default;

// prop label size => Prop actions margin top
$prop-actions-margin-top:       -($prop-action-height + $prop-action-margin-y - $prop-label-font-size*$prop-label-line-height)/2 !default;


