@charset "UTF-8";
@import '~@reactackle/reactackle/utils/global';

// =====================================================================================================================
// BASE VARIABLES
// =====================================================================================================================
// MODAL
$layout-modal-title-text-align:     center !default;
$layout-modal-title-font-size:      fs(5) !default;
$layout-modal-title-line-height:    1.5 !default;
$layout-modal-title-font-weight:    $font-weight-normal !default;
$layout-modal-title-padding-top:    $base-module*3 !default;
$layout-modal-title-padding-bottom: $base-module*2 !default;

// BASE
$layout-items-margin-y:             $base-module/4 !default;
$layout-items-margin-x:             $base-module/4 !default;

// ITEM
$layout-item-pad-y:                 $base-module !default;
$layout-item-pad-x:                 $base-module !default;
$layout-item-border-radius:         $global-radius !default;

$layout-item-hover-border-thickness: rem-calc(1) !default;
$layout-item-hover-border-style:    solid !default;
$layout-item-hover-border-color:    $color-border !default;

// IMAGE
$layout-item-img-size:              $base-module*15 !default;
$layout-item-img-bg-color:          $grey-200 !default;

// TITLE
$layout-item-title-margin-top:      $base-module*1.5 !default;
$layout-item-title-margin-bottom:   $base-module/2 !default;

$layout-item-title-font-size:       fs(0) !default;
$layout-item-title-line-height:     1.3 !default;
$layout-item-title-color:           $body-font-color !default;
$layout-item-title-text-transform:  none !default;
$layout-item-title-font-weight:     $font-weight-normal !default;
$layout-item-title-text-align:      left !default;

$layout-item-subtitle-font-size:    fs(-1) !default;
$layout-item-subtitle-line-height:  1.5 !default;
$layout-item-subtitle-color:        $grey-500 !default;
$layout-item-subtitle-text-transform: none !default;
$layout-item-subtitle-font-weight:  $font-weight-normal !default;
$layout-item-subtitle-text-align:   $layout-item-title-text-align !default;
$layout-item-subtitle-spacing:      $base-module/2 !default;

// image-width => item width
$layout-item-width:                 $layout-item-img-size + $layout-item-pad-x*2 !default;
