@charset "UTF-8";
@import 'variables';

@include exports(function-editor) {
	// =================================================================================================================
	// BASE
	// =================================================================================================================
	.function-editor {
		width: 100%;
		flex-grow: 1;
		display: flex;
		flex-direction: column;
	}

	.function-editor_heading{
		background-color: $grey-100;
		color: $color-text-medium;

		@include user-select;
	}

	.function-editor_wrapper {
		min-height: rem-calc(150);
		display: flex;
		align-items: stretch;
		flex-grow: 1;
		max-width: 100%;

		* { width: 100% }
	}
}

