@charset "UTF-8";
@import 'variables';

@include exports(function-editor) {
	// =================================================================================================================
	// BASE
	// =================================================================================================================
	.function-editor_heading{
		background-color: $grey-100;
		color: $color-text-medium;

		@include user-select;
	}

	.function-editor_wrapper {
		min-height: rem-calc(300);
		display: flex;
		align-items: stretch;

		* { width: 100% }
	}
}

