@charset "UTF-8";
@import '~@reactackle/reactackle/utils/global';

// =====================================================================================================================
// Base Variables
// =====================================================================================================================
$cpane-bg-color: color($bg, 50) !default;

// =====================================================================================================================
// CANVAS
// =====================================================================================================================
$cpane-canvas-bg-color: $grey-100 !default;
$cpane-canvas-padding: $base-module*3 !default;

// Artboard Data
// =====================================================================================================================
$cpane-artboard-data-padding-y: $base-module !default;
$cpane-artboard-data-padding-x: 0 !default;

$cpane-artboard-data-font-size: fs(-1) !default;
$cpane-artboard-data-line-height: 1 !default;
$cpane-artboard-data-color: $grey-500 !default;
$cpane-artboard-data-text-transform: none !default;

$cpane-artboard-data-items-spacing: $base-module*2.5 !default;

// Artboard Expander
// =====================================================================================================================
$cpane-expander-thickness: $base-module*2 !default;
$cpane-expander-bg-color: transparentize($black, 0.85) !default;
$cpane-expander-items-color: $grey-800 !default;
$cpane-expander-opacity: 0.3 !default;
$cpane-expander-opacity-hover: 1 !default;

$cpane-expander-icon-width: $cpane-expander-thickness - rem-calc(4) !default; // 4 - icon paddings (2*2)
$cpane-expander-icon-length: $cpane-expander-thickness*1.6 !default;
$cpane-expander-icon-color: $grey-600 !default;
$cpane-expander-icon-line-thickness: rem-calc(2) !default;

// =====================================================================================================================
// RULERS
// =====================================================================================================================
$cpane-ruler-thickness: $base-module*2 !default;
$cpane-ruler-bg-color: $grey-400 !default;
$cpane-ruler-items-color: $grey-800 !default;

// =====================================================================================================================
// @MIXIN
// =====================================================================================================================
@mixin diagonal-linear($color-2, $lines: 2, $line-thickness: rem-calc(2), $color-1: transparent, $angle: 135deg) {
  $generator: ();

  @for $i from 1 through $lines {
    $generator: append(
            $generator,
            (
                $color-1 $line-thickness*($i*2 - 2),
                $color-1 $line-thickness*($i*2 - 1),
                $color-2 $line-thickness*($i*2 - 1),
                $color-2 $line-thickness*($i*2)
            ),
            comma
    )
  };

  $generator: append(
          $generator,
              (
                  $color-1 $line-thickness*(($lines+1) + 1),
                  $color-1 $line-thickness*(($lines+1) + 1)
              ),
          comma
  );

  background-image:
      linear-gradient(
              $angle,
              #{$generator}
      );
}


