@charset "UTF-8";
@import '~@reactackle/reactackle/utils/global';

// =====================================================================================================================
// BASE VARIABLES
// =====================================================================================================================
$bcontent-base-pad-y:               $base-module*2;
$bcontent-box-header-top:           $bcontent-base-pad-y*1.5;
$bcontent-box-header-bottom:        $bcontent-base-pad-y;




// =================================================================================================================
// WINDOW CONTENT
// =================================================================================================================
// TITLE
// =================================================================================================================
$dwindow-title-font-size:           fs(4)!default;
$dwindow-title-line-height:         1.25 !default;
$dwindow-title-color:               $body-font-color !default;
$dwindow-title-font-weight:         $font-weight-normal !default;
$dwindow-title-text-transform:      none!default;

$dwindow-type-title-spacing:       $base-module !default;
$dwindow-type-font-size:           fs(0)!default;
$dwindow-type-line-height:         1.25 !default;
$dwindow-type-color:               $color-text-medium !default;
$dwindow-type-font-weight:         $font-weight-normal !default;
$dwindow-type-text-transform:      none!default;

$dwindow-subtitle-title-spacing:       $base-module*2 !default;
$dwindow-subtitle-font-size:           fs(1)!default;
$dwindow-subtitle-line-height:         1.25 !default;
$dwindow-subtitle-color:               $body-font-color !default;
$dwindow-subtitle-font-weight:         $font-weight-normal !default;
$dwindow-subtitle-text-transform:      none!default;

