@charset "UTF-8";
@import '~@reactackle/reactackle/utils/global';

// =====================================================================================================================
// BASE VARIABLES
// =====================================================================================================================
$dialog-padding:                $base-module*3 !default;
$dialog-window-title-padding-y: $base-module !default;
$dialog-window-title-padding-x: $dialog-padding !default;

$bcontent-base-pad-y:           $base-module*2 !default;
$bcontent-base-pad-x:           $base-module*2.5 !default;
$bcontent-base-pad-y-lrg:       $bcontent-base-pad-x !default;

// Use Cases
$bcontent-indialog-base-pad-y:           $bcontent-base-pad-y !default;
$bcontent-indialog-base-pad-x:           $dialog-window-title-padding-x !default;
$bcontent-indialog-base-pad-y-lrg:       $bcontent-indialog-base-pad-x !default;

// =====================================================================================================================
// ELEMENTS
// =====================================================================================================================
// THEMING
// =================================================================================================================
$bcontent-theme-editing-bgcolor:    $color-editing-block !default;
$bcontent-theme-dim-bgcolor:        $grey-100 !default;


// TITLE
// =====================================================================================================================
$bcontent-title-pad-y:              $bcontent-base-pad-y !default;
$bcontent-title-area-min-height:    $base-module*7 !default;
$bcontent-title-elements-space-x:   $base-module !default;

$bcontent-title-area-bg-color:      transparent !default;
$bcontent-title-area-border-color:  $color-border !default;

$bcontent-title-font-size:          fs(2) !default;
$bcontent-title-line-height:        $base-module*3/$bcontent-title-font-size !default;
$bcontent-title-color:              $txt-body-color !default;
$bcontent-title-font-weight:        $font-weight-normal !default;
$bcontent-title-font-style:         normal !default;

$bcontent-subtitle-font-size:       fs(-1) !default;
$bcontent-subtitle-line-height:     $base-module*3/$bcontent-subtitle-font-size !default;
$bcontent-subtitle-color:           $grey-500 !default;
$bcontent-subtitle-font-weight:     $font-weight-normal !default;
$bcontent-subtitle-font-style:      normal !default;

$bcontent-title-icon-box-size:      $base-module*5 !default;
$bcontent-title-icon-margin-right:  (- $base-module) !default;
$bcontent-title-icon-size:          $base-module*2.5 !default;
$bcontent-title-icon-color:         foreground($bcontent-title-area-bg-color, $yes: $icon-dark-default-color, $no: $icon-light-default-color, $threshold: 60%) !default;
$bcontent-title-icon-pad-y:         $base-module/2 !default;

$bcontent-title-actions-spacing:    $base-module/2 !default;

// Editing
$bcontent-title-editing-off-border-style:     dotted !default;
$bcontent-title-editing-off-border-color:     $grey-300 !default;
$bcontent-title-editing-off-bg-color:         transparent !default;

$bcontent-title-editing-on-border-style:      solid !default;
$bcontent-title-editing-on-border-color:      $darkblue !default;
$bcontent-title-editing-on-bg-color:          transparent !default;

// ACTIONS
// =====================================================================================================================
$bcontent-actions-border-color:     $bcontent-title-area-border-color !default;

$bcontent-actions-spacing-x:        $base-module !default;
$bcontent-actions-spacing-y:        $base-module/2 !default;

$bcontent-actions-box-padding:      $base-module ($bcontent-base-pad-x - $bcontent-actions-spacing-x) ($base-module - $bcontent-actions-spacing-y/2) !default;

// CONTENT
// =====================================================================================================================
$bcontent-box-border-color:         $bcontent-title-area-border-color !default;

$bcontent-box-font-size:            fs(0) !default;

$bcontent-box-header-top:           $bcontent-base-pad-y*1.5 !default;
$bcontent-box-header-bottom:        $bcontent-base-pad-y !default;
$bcontent-box-header-font-size:     fs(-1) !default;
$bcontent-box-header-line-height:   $base-module*2/$bcontent-box-header-font-size !default;
$bcontent-box-header-color:         $grey-500 !default;
$bcontent-box-header-font-weight:   $font-weight-semibold !default;
$bcontent-box-header-transform:     uppercase !default;

// Empty
$bcontent-empty-bg-color:           $grey-200 !default;

$bcontent-empty-text-color:         $grey-600 !default;
$bcontent-empty-text-size:          fs(0) !default;
$bcontent-empty-line-height:        $base-line-height !default;
$bcontent-empty-text-style:         normal !default;
$bcontent-empty-text-align:         center !default;

$bcontent-empty-text-spacing-bottom: $base-module !default;
