@charset "UTF-8";
@import 'variables';

@include exports(component-handler) {
    // HANDLER ITEM
    // =========================================================================
    // Text
    .component-handler_heading {
        display: flex;
        flex-grow: 1;

        @include user-select();
    }

    .component-handler_title {
        flex-grow: 1;
        font-size: $coactions-action-title-font-size;
        text-transform: $coactions-action-title-text-transform;
        line-height: $coactions-action-title-line-height;
        color: $coactions-action-title-color;
        padding: ($coactions-handler-button-box-size - $coactions-action-title-line-height)/2 0 ;

        .component-handler.is-active & {
            color: $coactions-action-title-color-active;
            font-weight: $coactions-action-title-font-weight;
        }
    }

    .component-handler_title-text {
        margin-right: $base-module;
    }

    // Buttons
    .component-handler_buttons {
        margin-right: -$coactions-handler-button-spacing-x;
        margin-left: -$coactions-handler-button-spacing-x;
        display: flex;

        .button {
            min-height: 0;
            margin: 0 $coactions-handler-button-spacing-x;
            border-width: 0;

            &,
            .button-icon {
                @include icon-size(
                                $coactions-handler-button-box-size,
                                $coactions-handler-button-img-size
                );
            }

            @include icon-style(
                            $coactions-handler-button-color
            );

            &:hover,
            &:focus {
                @include icon-style(
                                $coactions-handler-button-focus-color
                );
            }
        }
    }

    .component-handler.is-expanded .button-icon {
        transform: rotate(180deg);
        @include single-transition();
    }

    // HANDLER BODY
    .component-handler_body {
        padding-left: $handler-body-offset;
        padding-bottom: $base-module;
    }

}
