@charset "UTF-8";
@import "~@reactackle/reactackle/utils/_variables";
@import "../_theme-variables";

// =============================================================================
// Variables
// =============================================================================
$accordion-title-text-transform: none;
$accordion-item-separator-thickness: 0;
$accordion-content-pad-y: 0;
$accordion-bg-color: color($bg, 600);
$accordion-title-box-hover-bg-color: color($bg, 700);
$accordion-item-separator-color: color($bg, 400);
$accordion-expanded-title-font-color: white;
$accordion-collapsed-title-font-color: white;
