@charset "UTF-8";
@import "~@reactackle/reactackle/utils/_variables";
@import "../_theme-variables";

// =============================================================================
// Variables
// =============================================================================
$accordion-title-text-transform: none;
$accordion-item-separator-thickness: 0;
$accordion-content-pad-y: 0;
