@charset "UTF-8";
@import "~@reactackle/reactackle/utils/_variables";
@import "../_theme-variables";

// =============================================================================
// Variables
// =============================================================================
$fs: rem-calc(12);
$ic-size-px: 16px;
$ic-size: rem-calc($ic-size-px);

$menu-font-size-primary: $fs;
$menu-dense-font-size-primary: $fs;
$menu-text-primary-color-light: #B0B6C4; //bg-300

$menu-item-left-icon-box-size: $ic-size;
$menu-item-left-icon-size: $ic-size;
$menu-item-right-icon-box-size: $ic-size;
$menu-item-right-icon-size: $ic-size;
$menu-item-left-icon-box-size: $ic-size;
$menu-dense-item-left-icon-size: $ic-size;
$menu-dense-item-left-icon-box-size: $ic-size;
$menu-dense-item-right-icon-size: $ic-size;
$menu-dense-item-right-icon-box-size: $ic-size;

// Dense menu
// =====================================================================================================================
$menu-dense-item-padding-x: $base-module*0.5;

.header-menu-item-icon,
.header-menu-item-icon > *,
.header-menu-item-icon svg {
    width: $ic-size-px !important;
    height: $ic-size-px !important;
}

.menu-anchor {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}
