@charset "UTF-8";
@import "~@reactackle/reactackle/utils/_variables";
@import "../_theme-variables";

// =============================================================================
// Variables
// =============================================================================
$tag-border-radius: rem-calc(2);

$tag-bg-color: color($bg, 700);
$tag-txt-color: color($bg, 50);
$tag-hover-bg-color: color($bg, 700);
$tag-hover-txt-color: color($bg, 50);

$tag-content-padding-x: rem-calc(6);
$tag-content-padding-y: rem-calc(4);

$tag-icon-box-size:     rem-calc(17) !default;
$tag-icon-size:         rem-calc(14) !default;
$tag-icon-color:        currentColor !default;
