@charset "UTF-8";
@import 'variables';

@include exports(components-tree-item) {
    // =========================================================================
    // TREE ITEM
    // =========================================================================
    .components-tree-item {
        position: relative;

        & + & {
            margin-top: $ctree-item-spacing;
        }
    }

    .components-tree-item-content {
        height: $ctree-item-content-height;
        display: flex;
        align-items: center;
        max-width: $ctree-item-max-width;

        .components-tree-item:not(.has-sublevel) & {
            padding-left: $ctree-item-icon-box-size + $ctree-item-icon-spacing;
        }
    }

    // TITLE
    .components-tree-item-title-wrapper {
        &,
        &:hover,
        &:focus {
            background-color: transparent;
            border: 0 solid transparent;
            outline: none;
            box-shadow: none;
            padding: 0;
        }
    }

    .components-tree-item-title {
        padding: $ctree-item-pad-y $ctree-item-pad-x;
        border-radius: $ctree-item-border-radius;
        color: $ctree-item-color;
        font-size: $ctree-item-font-size;
        line-height: $ctree-item-line-height;
        cursor: $cursor-pointer;
        white-space: nowrap;
        text-overflow: ellipsis;
        flex-grow: 1;
        min-width: $ctree-item-min-width;
        max-width: $ctree-item-max-width - ($ctree-item-icon-box-size + $ctree-item-icon-spacing) - $ctree-item-pad-x*2;
        overflow: hidden;
        text-align: left;

        @include single-transition();

        &.is-hovered {
            background-color: $ctree-item-hover-bg-color;
        }

        .components-tree-item-title-wrapper.is-active & {
            background-color: $ctree-item-focus-bg-color;
            cursor: $cursor-default
        }

        &.is-disabled {
            &,
            &.is-hovered,
            &:hover,
            &:focus {
                color: $grey-400;
                cursor: default;
            }
        }
    }

    // Icon
    .components-tree-item-icon {
        margin-right: $ctree-item-icon-spacing;
        display: flex;

        @include single-transition(transform);
    }

    .components-tree-item-icon {
        @include icon-size(
                        $ctree-item-icon-box-size,
                        $ctree-item-icon-img-size
        );

        .components-tree-item.item-is-active &,
        .components-tree-item.sublevel-is-visible & {
            transform: rotate(180deg);
        }

        .components-tree-item.sublevel-is-hidden & {
            transform: rotate(0deg);
        }
    }
}
