@charset "UTF-8";
@import 'variables';

@include exports(accordion) {
	// =================================================================================================================
	// Base
	// =================================================================================================================
	.accordion {
		width: 100%;
	}

	// =================================================================================================================
	// ACCORDION ITEM
	// =================================================================================================================
	.accordion-item {
		& + & {
			border-top: $accordion-item-separator-thickness solid $accordion-item-separator-color;
		}
	}

	// Title box
	// =================================================================================================================
	.accordion-title-box {
		display: flex;
		min-height: $accordion-title-box-min-height;
		align-items: $accordion-title-box-y-align;
		cursor: $cursor-pointer;

		@include single-transition();

		&:hover {
			background-color: $accordion-title-box-hover-bg-color;
		}

		.accordion-item-is-collapsed & {
			opacity: $accordion-collapsed-opacity;

			&:hover {
				opacity: 1;
			}
		}
	}

	// Title
	.accordion-title {
		font-size: $accordion-title-font-size;
		line-height: $accordion-title-line-height;
		text-transform: $accordion-title-text-transform;
		padding: 0;
		padding-top: $accordion-title-pad-y;
		padding-bottom: $accordion-title-pad-y;
		padding-left: $accordion-item-pad-x;
		flex-grow: 1;

		@include user-select();

		.accordion-item-is-expanded & {
			color: $accordion-expanded-title-font-color;
			font-weight: $accordion-expanded-title-font-weight;
		}

		.accordion-item-is-collapsed & {
			color: $accordion-collapsed-title-font-color;
			font-weight: $accordion-collapsed-title-font-weight;
		}
	}

	// Icon
	.accordion-title-icon {
		margin-top: $accordion-title-pad-y + ($accordion-title-font-size*$accordion-title-line-height - $accordion-icon-box-size);
		margin-bottom: $accordion-title-pad-y + ($accordion-title-font-size*$accordion-title-line-height - $accordion-icon-box-size);
		margin-right: $accordion-item-pad-x;

		@include single-transition();
		@include icon-size(
				$outer-size: $accordion-icon-box-size,
				$icon-size: $accordion-icon-img-size
		);

		.accordion-item-is-expanded & {
			@include icon-style($accordion-expanded-icon-color);
			transform: rotate(180deg);
		}

		.accordion-item-is-collapsed & {
			@include icon-style($accordion-collapsed-icon-color);
		}

		.accordion-title + & {
			margin-left: $accordion-icon-spacing;
		}
	}

	// Content Box
	// =================================================================================================================
	.accordion-item-content-box {
		pointer-events: none;
		opacity: 0;
		position: absolute;
		z-index: -1;

		@include animated;

		.accordion-item-is-expanded & {
			pointer-events: auto;
			opacity: 1;
			position: relative;
			z-index: 1;
			@include fadeInDown;
		}

		&:not(.accordion-content-blank) {
			padding: $accordion-content-pad-y $accordion-item-pad-x;
		}
	}
}
