@charset "UTF-8";
@import '~@reactackle/reactackle/utils/global';

// =====================================================================================================================
// BASE VARIABLES
// =====================================================================================================================
// Route Card
$rcard-offset-left:         $base-module*2 !default;
$rcard-levels:              10 !default;
$rcard-level-multiplicator: 0 !default; // Set to 0 if multiplication is not necessary
$rcard-padding-x:           $base-module*2 !default;
$rcard-padding-y:           $base-module*1.5 !default;

$rcard-bg-color:            $white !default;
$rcard-hover-bg-color:      $grey-100 !default;
$rcard-focus-bg-color:      color($yellow-palette, lightest) !default;
$rcard-border-radius:       $global-radius !default;
$rcard-spacing:             $base-module !default;
$rcard-last-child-margin-bottom: $rcard-spacing*2 !default;

$rcard-title-font-size:     fs(3) !default;
$rcard-title-line-height:   1.3 !default;
$rcard-title-font-weight:   $font-weight-normal !default;
$rcard-title-font-color:    $body-font-color !default;

$rcard-subtitle-font-size:      fs(-1) !default;
$rcard-subtitle-line-height:    1.3 !default;
$rcard-subtitle-font-weight:    $font-weight-normal !default;
$rcard-subtitle-font-color:     $grey-500 !default;

// Subroutes
$rcard-ruler-thickness:          1px !default;
$rcard-ruler-style:              dotted !default;
$rcard-ruler-color:              $grey-400 !default;
$rcard-ruler-offset:             -$base-module !default;

// Add New
$rcard-new-margin-top:          $rcard-last-child-margin-bottom !default;
$rcard-new-border-thickness:    1px !default;
$rcard-new-border-style:        solid !default;
$rcard-new-border-color:        $grey-400 !default;
$rcard-new-bg-color:            transparent !default;
$rcard-new-color:               $body-font-color !default;

$rcard-new-hover-border-thickness:    1px !default;
$rcard-new-hover-border-style:        solid !default;
$rcard-new-hover-border-color:        $color-primary !default;
$rcard-new-hover-bg-color:            $rcard-new-hover-border-color !default;
$rcard-new-hover-color:            $white !default;

// Icons
$rcard-icon-index-box-size:     $rcard-title-font-size*$rcard-title-line-height !default;
$rcard-icon-index-img-size:     $base-module*2 !default;
$rcard-icon-index-color:        $icon-dark-inactive-color !default;
$rcard-icon-index-margin-left:  $base-module !default;

// Title => Route Card min-height
$rcard-min-height:      $rcard-padding-y*2 + $rcard-title-font-size*$rcard-title-line-height + $rcard-subtitle-font-size*$rcard-subtitle-line-height !default;
$rcard-max-width:       $rcard-min-height*5 !default;

// Outlet
$rcard-outlet-bg-color:         $grey-200 !default;
$rcard-outlet-hover-bg-color:   $grey-300 !default;

$rcard-outlet-color:            $grey-500 !default;
$rcard-outlet-hover-color:      $grey-800 !default;
$rcard-outlet-font-size:        fs(-2) !default;
$rcard-outlet-line-height:      1.5 !default;
$rcard-outlet-text-align:       right !default;
$rcard-outlet-text-transform:   uppercase !default;
$rcard-outlet-font-weight:      $font-weight-semibold !default;

$rcard-outlet-pad-y: $base-module !default;
$rcard-outlet-pad-x: $base-module*1.5 !default;

// MIXINS
@mixin level-offset($level) {
	.route-card-wrapper .routes-list-wrapper {
		margin-left: $rcard-offset-left*$rcard-level-multiplicator*$level;

		@content;
	}
}