<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height,initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
</head>

<body ontouchstart="">
<!-- TODO: Spash screen goes here -->
<div id="container">Loading...</div>
</body>
</html>
