@charset "UTF-8";
@import '~@reactackle/reactackle/utils/global';

// Base Variables
// =====================================================================================================================
$pdrawer-width:             rem-calc(400) !default;

$pdrawer-padding-x:         $base-module*2 !default;
$pdrawer-padding-y:         $pdrawer-padding-x !default;

// Actions Area
// =====================================================================================================================
$pdrawer-actions-area-bg-color:            $white !default;
$pdrawer-actions-area-border-right-color:  $color-border !default;
$pdrawer-actions-area-border-right-width:  2px !default;

$pdrawer-actions-icon-item-size:            $base-module*5 !default;
$pdrawer-actions-icon-img-size:             $base-module*2 !default;

$pdrawer-actions-item-opacity-default:      0.46 !default;
$pdrawer-actions-item-opacity-hover:        0.8 !default;
$pdrawer-actions-item-active-bg-color:      transparentize($black, 0.9) !default;

$pdrawer-icon-actions-area-width:           $pdrawer-actions-icon-item-size !default;

$pdrawer-actions-group-padding:             $base-module 0 !default;

$pdrawer-actions-separator-color:           $pdrawer-actions-area-border-right-color !default;
$pdrawer-actions-separator-thickness:       1px !default;

// Action placeholder
$pdrawer-action-placeholder-padding:        $base-module/2 !default;

$pdrawer-action-placeholder-box-border-radius:  $global-radius !default;
$pdrawer-action-placeholder-box-bg-color:       transparentize($darkblue, 0.85) !default;
$pdrawer-action-placeholder-box-border-color:   transparentize($darkblue, 0.8) !default;


// Content Area
// =====================================================================================================================
$pdrawer-content-area-bg-color:     $white !default;

// Content Title
$pdrawer-content-title-padding:     $base-module $pdrawer-padding-x !default;

$pdrawer-content-title-font-size:   fs(2) !default;
$pdrawer-content-title-line-height: $base-module*2 / $pdrawer-content-title-font-size !default;
$pdrawer-content-title-color:       $txt-body-color !default;
$pdrawer-content-title-font-weight: $font-weight-normal !default;
$pdrawer-content-title-transform:   none !default;

$pdrawer-title-actions-margin-left: $pdrawer-padding-x !default;
$pdrawer-title-actions-spacing:     $base-module/2 !default;

// Content Body
$pdrawer-content-body-padding:     $pdrawer-padding-y $pdrawer-padding-x !default;
$pdrawer-content-border-color:     $color-border !default;

$pdrawer-content-body-font-size:   fs(0) !default;

// Content Actions
$pdrawer-content-actions-spacing-x:      $base-module !default;
$pdrawer-content-actions-spacing-y:      $base-module/2 !default;

$pdrawer-content-actions-box-padding:    $base-module $base-module ($base-module - $pdrawer-content-actions-spacing-y/2) !default;

