@charset "UTF-8";
@import "~@reactackle/reactackle/utils/_variables";
@import "../_theme-variables";

// =====================================================================================================================
// CONTAINER
// =====================================================================================================================
$container-padding-sml:             $base-module*1;
$container-padding-med:             $base-module*2;
$container-padding-lrg:             $base-module*3;