@charset "UTF-8";
@import '~@reactackle/reactackle/utils/global';

// Base Variables
// ============================================================================
$prsave-bg-color: $color-secondary;
$menu-item-padding-y:            $base-module !default;
$menu-item-padding-x:            $base-module*2 !default;

// Animation
// ============================================================================
@include keyframes(spinnerRotate) {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

