@charset "UTF-8";
@import 'variables';

@include exports(project-save) {
    // =================================================================================================================
    // BASE
    // =================================================================================================================
    .project-save {
        display: flex;
        align-items: center;
        color: $white;
        cursor: $cursor-pointer;
        padding: 0 $menu-item-padding-x*2 0 $menu-item-padding-x*1.5;
        background-color: $prsave-bg-color;

        &:hover {
            background-color: scale_color($prsave-bg-color, $lightness: -15%);
        }
    }

    .project-save_icon {
        $border-width: 1px;
        $icon-outer-size: 24px;
        $icon-size: 12px;

        border-radius: 50%;
        border: $border-width solid $icon-light-inactive-color;
        margin-right: $base-module;
        position:relative;

        @include icon-size(
                $outer-size: rem-calc($icon-outer-size),
                $icon-size: rem-calc($icon-size),
                $outer-width: rem-calc($icon-outer-size));

        & > * {
            position: absolute;
            top: -$border-width;
            left: -$border-width;
        }

        @include icon-style(
                $icon-color: $icon-light-inactive-color,
                $bg-color: null);

        .save-status-progress & {
            border-right-color: transparent;

            animation-iteration-count: infinite;
            animation-duration: 1s;
            animation-name: spinnerRotate;
            animation-timing-function: linear;
        }
    }

    .project-save_title {
        color: inherit;
        font-size: fs(0);
        white-space: nowrap;
        padding: $menu-item-padding-y 0;
        display: flex;
        align-items: center;
    }
}

