@charset "UTF-8";
@import 'variables';

@include exports(project-save) {
    // =================================================================================================================
    // BASE
    // =================================================================================================================
    .project-save {
        display: flex;
        align-items: center;
        color: $white;
        padding: 0 $menu-item-padding-x*2 0 $menu-item-padding-x*1.5;
        background-color: $prsave-bg-color;
        user-select: none;

        @include single-transition(background-color);

        &.save-status-error {
            background-color: $color-alert;
        }
    }

    .project-save_icon {
        $border-width: 1px;
        $icon-outer-size: 24px;
        $icon-size: 12px;

        border-radius: 50%;
        border: $border-width solid #fff;
        margin-right: $base-module;
        position:relative;
        opacity: 0.5;

        @include single-transition(opacity);

        @include icon-size(
                $outer-size: rem-calc($icon-outer-size),
                $icon-size: rem-calc($icon-size),
                $outer-width: rem-calc($icon-outer-size));

        @include icon-style(
                $icon-color: #fff,
                $bg-color: null);

        & > * {
            position: absolute;
            top: -$border-width;
            left: -$border-width;
        }

        .save-status-progress & {
            border-right-color: transparent;

            animation-iteration-count: infinite;
            animation-duration: 1s;
            animation-name: spinnerRotate;
            animation-timing-function: linear;
        }

        .save-status-error &,
        .save-status-progress &,
        .save-status-success & {
            opacity: 1;
        }
    }

    .project-save_title {
        color: inherit;
        font-size: fs(0);
        white-space: nowrap;
        padding: $menu-item-padding-y 0;
        display: flex;
        align-items: center;
    }
}

