{
  "presets": [
    ["env", {
      "targets": {
        "browsers": "last 2 versions"
      },
      "useBuiltIns": true
    }],
    "react"
  ],
  "plugins": ["transform-object-rest-spread", "styled-components"]
}
