<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height,initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link href="../assets/favicon.png" rel="shortcut icon">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <style>
        body {
            font-family: sans-serif;
            margin: 0;
            padding: 0;
            position: relative;
            width: 100%;
            display: flex;
            align-items: stretch;
            overflow-x: hidden;
            min-height: 100vh;
        }

        .splash-screen {
            background-color: #333A45;
            flex-grow: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            z-index: 100500;
            height: 100%;
            width: 100%;

            -webkit-animation-name: fadeIn;
            animation-name: fadeIn;
        }

        .splash-screen.exit {
            animation-duration: 200ms;
            animation-fill-mode: both;
            animation-direction: alternate;
            -webkit-animation-name: fadeOut;
            animation-name: fadeOut;
        }

        .splash-screen_image {
            max-width: 220px;
            width: 100%;

            animation-iteration-count: infinite;
            animation-duration: 15s;
            animation-fill-mode: both;
            animation-direction: alternate;
            -webkit-animation-name: flash;
            animation-name: flash;
        }

        @-webkit-keyframes flash {
            from, 50%, 100% {
                opacity: 1;
            }

            25%, 75% {
                opacity: 0.3;
            }
        }

        @keyframes flash {
            from, 50%, 100% {
                opacity: 1;
            }

            25%, 75% {
                opacity: 0.3;
            }
        }

        @-webkit-keyframes fadeIn {
            from {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }

        @keyframes fadeIn {
            from {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }

        @-webkit-keyframes fadeOut {
            from {
                opacity: 1;
            }

            100% {
                opacity: 0;
            }
        }

        @keyframes fadeOut {
            from {
                opacity: 1;
            }

            100% {
                opacity: 0;
            }
        }
    </style>
</head>

<body ontouchstart="">
<div id="splash-screen" class="splash-screen">
    <img class="splash-screen_image" src="data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%20649.42%20232.89%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill%3A%23fff%3B%7D%3C/style%3E%3C/defs%3E%3Ctitle%3E%u041C%u043E%u043D%u0442%u0430%u0436%u043D%u0430%u044F%20%u043E%u0431%u043B%u0430%u0441%u0442%u044C%205%3C/title%3E%3Cg%20id%3D%22%u0421%u043B%u043E%u0439_4%22%20data-name%3D%22%u0421%u043B%u043E%u0439%204%22%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M8.21%2C155.94H29.76v8.12c0%2C33.72%2C20.3%2C45.9%2C40.28%2C45.9%2C19.36%2C0%2C40-11.24%2C40-45.27V26.05H56.3V6.69h75.25v158c0%2C47.46-31.54%2C65.26-61.82%2C65.26-30%2C0-61.51-18.11-61.51-65.26Z%22/%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M179.12%2C185.29s22.79%2C24%2C57.45%2C24c24%2C0%2C43.71-14.36%2C43.71-38.09C280.29%2C116%2C170.69%2C130%2C170.69%2C62c0-31.54%2C27.79-59%2C68.38-59%2C38.09%2C0%2C58.7%2C21.23%2C58.7%2C21.23L287.16%2C42.29S267.8%2C23.55%2C239.07%2C23.55c-28.1%2C0-46.21%2C18.42-46.21%2C37.78%2C0%2C52.14%2C109.6%2C37.16%2C109.6%2C109.28%2C0%2C32.79-25.29%2C59.33-66.51%2C59.33-45%2C0-69.63-28.1-69.63-28.1Z%22/%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M338.31%2C185.29s22.79%2C24%2C57.45%2C24c24%2C0%2C43.71-14.36%2C43.71-38.09C439.47%2C116%2C329.88%2C130%2C329.88%2C62c0-31.54%2C27.79-59%2C68.38-59%2C38.09%2C0%2C58.7%2C21.23%2C58.7%2C21.23L446.34%2C42.29S427%2C23.55%2C398.26%2C23.55C370.16%2C23.55%2C352%2C42%2C352%2C61.33c0%2C52.14%2C109.6%2C37.16%2C109.6%2C109.28%2C0%2C32.79-25.29%2C59.33-66.51%2C59.33-45%2C0-69.63-28.1-69.63-28.1Z%22/%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M545.67%2C131.9l-74-125.21h24.67l46.52%2C79.62c6.56%2C11.24%2C13.43%2C26.23%2C13.43%2C26.23h.62s6.56-14.68%2C13.43-26.23L616.86%2C6.69h24.35L567.52%2C131.9v94.3H545.67Z%22/%3E%3C/g%3E%3C/svg%3E" />
</div>

<div id="container">
</div>
</body>
</html>
