@charset "UTF-8";
@import 'variables';

@include exports(source-group-item) {
    .source-item {
        padding: $base-module $source-padding-x;
        cursor: $cursor-pointer;
        line-height: 1.25;
        vertical-align: baseline;

        @include single-transition(background-color);

        &:hover {
            background-color: transparentize($black, 0.95);
        }

        &.is-disabled {
            cursor: $cursor-default;

            &:hover {
                background-color: transparent;
            }
        }
    }

    .source-item_title {
        font-size: fs(0);
        margin-right: 0.3em;

        .source-item.is-disabled & { color: $color-text-medium }
    }

    .source-item_type {
        font-size: fs(-2);
        color: $color-text-medium;
        margin-right: 0.3em;

        .source-item.is-disabled & { opacity: 0.75 }
    }
}
