@charset "UTF-8";
@import '~@reactackle/reactackle/utils/global';

// =====================================================================================================================
// Base Variables
// =====================================================================================================================

// =====================================================================================================================
// DATA ITEM
// =====================================================================================================================
$data-item-padding-x:               $base-module*1.5 !default;
$data-item-padding-y:               $base-module !default;
$data-item-spacing:                 $base-module/2 !default;
$data-item-border-radius:           $global-radius !default;

$data-item-hover-bg-color:          transparentize($black, 0.93) !default;

// Data Title
// =====================================================================================================================
$data-item-title-font-size:         fs(0) !default;
$data-item-title-font-weight:       $font-weight-normal !default;
$data-item-title-line-height:       $txt-body-1-lineheight !default;
$data-item-title-transform:         none !default;
$data-item-title-color:             $txt-body-color!default;

$data-item-subtitle-font-size:      fs(-1) !default;
$data-item-subtitle-font-weight:    $font-weight-normal !default;
$data-item-subtitle-line-height:    $txt-caption-lineheight !default;
$data-item-subtitle-transform:      none !default;
$data-item-subtitle-color:          $grey-500 !default;

$data-item-type-font-size:          fs(-1) !default;
$data-item-type-font-weight:        $font-weight-normal !default;
$data-item-type-line-height:        $txt-caption-lineheight !default;
$data-item-type-transform:          none !default;
$data-item-type-color:              $grey-500 !default;
$data-item-type-spacing:            $base-module/2 !default;

// Arguments
$data-item-margin-x:                $base-module/4 !default;
$data-item-margin-y:                $base-module/4 !default;

// ACTIONS
// =====================================================================================================================
$data-item-actions-spacing:         $base-module/2 !default;
$data-item-action-size:             $base-module*4.25 !default; // medium btn size


