@charset "UTF-8";
@import 'variables';

@include exports(backdrop-breadcrumbs) {
    // =================================================================================================================
    // BASE
    // =================================================================================================================
    .backdrop_breadcrumbs {
        background-color: color($bg, 700);
        padding: 0 $base-module * 2;
        position: relative;
        //width: 100%;
        //top: 0;
        //left: 0;
        //position: fixed;
        z-index: 9999;

        .breadcrumbs-item {
            max-width: none;
        }
    }

    // TEXT
    .breadcrumbs_link-wrapper {
        color: color($bg, 200);

        &:focus {
            box-shadow: none;
            outline: none;
        }

        .breadcrumbs-item-title {
            font-size: 11px;
        }
    }
}
