@charset "UTF-8";
@import 'variables';

@include exports(block-content) {
	// =================================================================================================================
	// Base
	// =================================================================================================================
	.block-content {
		display: flex;
		flex-direction: column;
		align-items: stretch;
		flex-grow: 1;
	}

	// =================================================================================================================
	// ELEMENTS
	// =================================================================================================================

	// TITLE AREA
	// =================================================================================================================
	.block-content-title-area {
		flex-shrink: 0;
		display: flex;
		align-items: center;
		min-height: $bcontent-title-area-min-height;
	}

	.block-content-title-content {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: $bcontent-title-pad-y $bcontent-title-pad-x;
	}

	// Title
	.block-content-title-box,
	.block-content-subtitle-box {
		overflow: hidden;

		@include user-select();
	}

	.block-content-title-box {
		font-size: $bcontent-title-font-size;
		line-height: $bcontent-title-line-height;
		color: $bcontent-title-color;
		font-weight: $bcontent-title-font-weight;
		font-style: $bcontent-title-font-style;

		&.is-editable {
			cursor: $cursor-text;

			.block-content-title {
				border-bottom: 1px $bcontent-title-editing-off-border-style $bcontent-title-editing-off-border-color;
				background-color: $bcontent-title-editing-off-bg-color;
				outline: none;
			}
		}

		&.editing-is-on .block-content-title,
		&.is-editable .block-content-title:focus {
			border-bottom: 1px $bcontent-title-editing-on-border-style $bcontent-title-editing-on-border-color;
			background-color: $bcontent-title-editing-on-bg-color;
			outline: none;
			@include single-transition();
		}
	}

	.block-content-subtitle-box {
		font-size: $bcontent-subtitle-font-size;
		line-height: $bcontent-subtitle-line-height;
		color: $bcontent-subtitle-color;
		font-weight: $bcontent-subtitle-font-weight;
		font-style: $bcontent-subtitle-font-style;
	}

	// Icons
	.block-content-icon {
		margin: $bcontent-title-icon-pad-y 0;

		@include icon-size(
				$outer-size: $bcontent-title-icon-box-size,
				$icon-size: $bcontent-title-icon-size
		);

		@include icon-style($bcontent-title-icon-color);

		&.block-content-icon-left {
			margin-right: $bcontent-title-icon-margin-right;
		}
	}

	// Actions
	.block-content-title-actions-wrapper {
		padding: $bcontent-title-icon-pad-y 0;
		padding-right: $bcontent-title-elements-space-x/2;
		display: flex;

		.button {
			margin: $bcontent-title-actions-spacing/2;
		}
	}

	// NAVIGATION AREA
	// =================================================================================================================
	.block-content-navigation-area {
		flex-shrink: 0;

		.block-content-title-area + &.is-bordered {
				border-top: 1px solid $bcontent-box-border-color;
		}
	}

	// CONTENT AREA
	// =================================================================================================================
	.block-content-box-area {
		flex-grow: 1;
		overflow-y: auto;
		font-size: $bcontent-box-font-size;

		.block-content-navigation-area + &,
		.block-content-title-area + & {
			&.is-bordered {
				border-top: 1px solid $bcontent-box-border-color;
			}
		}
	}

	.block-content-box-heading {
		font-size: $bcontent-box-header-font-size;
		line-height: $bcontent-box-header-line-height;
		color: $bcontent-box-header-color;
		font-weight: $bcontent-box-header-font-weight;
		text-transform: $bcontent-box-header-transform;

		margin-top: $bcontent-box-header-top;
		margin-bottom: $bcontent-box-header-bottom;
		padding: 0 $bcontent-box-pad-x;

		@include user-select();

		&.is-bordered {
			border-top: 1px solid $bcontent-box-border-color;
		}
	}

	.block-content-box-item {
		padding: $bcontent-box-pad-y $bcontent-box-pad-x;

		&:last-of-type { padding-bottom: $bcontent-box-pad-y-last; }

		&.is-blank {
			padding: 0;

			&:last-of-type { padding-bottom: 0 }
		}

		&.is-bordered {
			border-top: 1px solid $bcontent-box-border-color;
		}

		.block-content-box-heading + &:not(.is-bordered),
		&:not(.is-bordered) + &:not(.is-bordered) {
			padding-top: 0;
		}

		&:not(.is-bordered) + .block-content-box-heading {
			margin-top: $bcontent-box-header-top - $bcontent-box-pad-y;
		}
	}

	// CONTENT PLACEHOLDER
	// =================================================================================================================
	.block-content-placeholder {
		background-color: $bcontent-empty-bg-color;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-grow: 1;
	}

	.block-content-placeholder-content {
		width: 100%;
		flex-shrink: 0;
		padding: $bcontent-empty-padding;
		text-align: center;

		@include user-select();
	}

	.block-content-placeholder-text {
		color: $bcontent-empty-text-color;
		font-size: $bcontent-empty-text-size;
		line-height: $bcontent-empty-line-height;
		font-style: $bcontent-empty-text-style;
		text-align: $bcontent-empty-text-align;

		+ * {
			margin-top: $bcontent-empty-text-spacing-bottom;
		}
	}


	// ACTIONS AREA
	// =================================================================================================================
	.block-content-actions-area {
		flex-shrink: 0;
		display: flex;
		text-align: right;
		justify-content: flex-end;

		&.is-bordered {
			border-top: 1px solid $bcontent-actions-border-color;
		}
	}

	.block-content-actions-region {
		padding: $bcontent-actions-box-padding;
		display: flex;
		text-align: right;
		justify-content: flex-end;
		align-items: flex-start;
		flex-wrap: wrap;

		.button {
			margin: $bcontent-actions-spacing-y/2 $bcontent-actions-spacing-x/2;
			padding: 0;
		}

		&.region-main { flex-grow: 1; }
	}
}
