@charset "UTF-8";
@import "~@reactackle/reactackle/utils/_variables";

// =====================================================================================================================
// PALETTE
// =====================================================================================================================
$palette-primary: (
    100: #f7ccd7,
    200: #ef99af,
    300: #e66687,
    400: #de335f,
    500: #d60037,
    600: #a10029,
    700: #6b001c,
    800: #36000e
);

$palette-secondary: (
    50:  #ebf3fa,
    100: #cce0f2,
    200: #99c0e4,
    300: #66a1d7,
    400: #3381c9,
    500: #0062bc,
    600: #004a8d,
    700: #00315e,
    800: #00182f
);

$beige: (
    100: #F5F3F0,
    200: #EBE6E1,
    300: #D7CDC4,
    400: #CDC1B5,
    500: #9A9188,
    600: #67615B,
    700: #33302D,
    800: #1A1817h
);

$bg: (
    25: #fbfbfb,
    50: #e6eaed,
    75: #d5dce1,
    100: #bec8cf,
    200: #a5adb7,
    300: #778392,
    400: #4a5a6e,
    500: #1d314a,
    600: #162538,
    700: #0f1925,
    800: #070c13
);

//$bg: (
//    25: #F6F7F8,
//    50: #e5e7ea,
//    75: #c3d2dd,
//    100: #9bb2c5,
//    200: #7496af,
//    300: #577e9c,
//    400: #4b6f90,
//    500: #41627e,
//    600: #38556e,
//    700: #2b4358,
//    800: #203243,
//    900: #16232e
//);

$color-primary: color($palette-primary, 500);
$color-secondary: color($palette-secondary, 500);

$color-blueprint: #0071d8;
