@charset "UTF-8";
@import "~@reactackle/reactackle/utils/_variables";

// =====================================================================================================================
// PALETTE
// =====================================================================================================================
$palette-primary: (
        100: #f7ccd7,
        200: #ef99af,
        300: #e66687,
        400: #de335f,
        500: #d60037,
        600: #a10029,
        700: #6b001c,
        800: #36000e
);

$palette-secondary: (
        50:  #ebf3fa,
        100: #cce0f2,
        200: #99c0e4,
        300: #66a1d7,
        400: #3381c9,
        500: #0062bc,
        600: #004a8d,
        700: #00315e,
        800: #00182f
);

$grey: (
        50: #F9F9FA,
        100: #EAEAEB,
        200: #D6D8DA,
        300: #BCBEC2,
        400: #9DA0A6,
        500: #7D8188,
        600: #5C616A,
        700: #333A45,
        800: #262C34,
        900: #1A1D23
);

$bg: (
        50: #F9F9FA,
        75: #EDEEF1,
        100: #E8EAEE,
        200: #D1D5DD,
        300: #BAC0CB,
        400: #8C96A9,
        500: #667388,
        600: #4C576A,
        700: #333A45,
        800: #1f2532,
        900: #1A1D23
);

$color-primary: color($palette-primary, 500);
$color-secondary: color($palette-secondary, 500);

$color-blueprint: #0071d8;

$color-editing-block: transparentize($yellow, 0.9);
