@charset "UTF-8";
@import 'variables';

@include exports(data-window) {
	// =================================================================================================================
	// BASE
	// =================================================================================================================
	.data-window .dialog-content-wrapper {
		padding: 0;
	}

	// =================================================================================================================
	// WINDOW CONTENT
	// =================================================================================================================
	// TITLE
	// =================================================================================================================
	.data-window_title-box {
		display: flex;
	}

	.data-window_title-content {
		flex-grow: 1;
	}

	.data-window_title {
		font-size: fs(4);
	}

	.data-window_subtitle {
		color: $color-text-medium
	}




}
