@charset "UTF-8";
@import '~@reactackle/reactackle/utils/_global';

// =============================================================================
// BASE VARIABLES
// =============================================================================
// TITLE
$action-title-font-size:            fs(0) !default;
$action-title-font-weight:          $font-weight-normal !default;
$action-title-color:                $body-font-color !default;
$action-title-text-transform:       none !default;
$action-title-line-height:          1.5 !default;

// ACTIONS
$action-button-box-size:            rem-calc(32) !default;
$action-button-img-size:            rem-calc(16) !default;
$action-button-color:               $icon-dark-inactive-color !default;
$action-button-focus-color:         $icon-dark-default-color !default;
$action-button-spacing-x:           $base-module/2 !default;

// ICON
$action-heading-icon-box-size:      $action-button-box-size !default;
$action-heading-icon-img-size:      $action-button-img-size !default;
$action-heading-icon-spacing:       $base-module !default;

// CASE BOX
$case-marker-size:      $base-module !default;
$case-marker-spacing:   $base-module !default;
$case-border-thickness: rem-calc(2) !default;
