@charset "UTF-8";
@import 'variables';

@include exports(component-action) {
    // HEADING
    // =========================================================================
    .component-action_heading {
        display: flex;
    }

    .component-action_link-wrapper {
        display: flex;
        flex-grow: 1;
        border-radius: $global-radius;
        cursor: $cursor-pointer;

        @include single-transition(background-color);

        &:hover {
            background-color: transparentize(black, 0.95);
        }
    }

    // ICON
    .component-action_icon {
        margin-right: $action-heading-icon-spacing;
        display: flex;

        @include icon-size(
                        $action-heading-icon-box-size,
                        $action-heading-icon-img-size
        );
    }

    .component-action_title {
        flex-grow: 1;

        font-size: $action-title-font-size;
        line-height: $action-title-line-height;
        font-weight: $action-title-font-weight;
        text-transform: $action-title-text-transform;
        color: $action-title-color;

        padding: ($action-button-box-size - $action-title-font-size*$action-title-line-height)/2 0;
    }

    // TITLE

    // ACTIONS
    .component-action_buttons {
        height: $action-button-box-size;
        display: flex;
    }

    // BODY
    // =========================================================================
    .component-action_body {
        margin-left: $action-heading-icon-box-size + $action-heading-icon-spacing;
        padding-bottom: $base-module*1.5;
    }

    // CASE BOX
    // =========================================================================
    .component-case {
        margin-top: $base-module*1.5;

        & + & {
            margin-top: $base-module*2;
        }
    }

    .component-case_header {
        display: flex;
        align-items: center;
        margin-bottom: $base-module;
    }

    .component-case_marker {
        width: $case-marker-size;
        height: $case-marker-size;
        border-radius: 50%;
        display: block;
        margin-right: $case-marker-spacing;

        .case-type-success & {
            background-color: $color-success;
        }

        .case-type-error & {
            background-color: $color-alert;
        }
    }

    .component-case_title {
        flex-grow: 1;
        font-size: fs(-2);
        color: $color-text-medium;
        text-transform: uppercase;
        font-weight: $font-weight-semibold;
    }

    .component-case_body {
        padding-left: $case-marker-size / 2 - $case-border-thickness + $case-marker-spacing;
        margin-left: ($case-marker-size / 2 - $case-border-thickness/2);
        border-left: $case-border-thickness $color-border solid;
    }
}
