@charset "UTF-8";
@import 'variables';

// Type classnames
$prop-input: 'props-type-input';
$prop-textarea: 'props-type-textarea';
$prop-list: 'props-type-list';
$prop-constructor: 'props-type-constructor';
$prop-array: 'props-type-array';
$prop-toggle: 'props-type-toggle';

@include exports(props-list) {
	// =================================================================================================================
	// BASE
	// =================================================================================================================
	.props-list {
		.prop-item & {
			margin-left: $props-level-offset;
			opacity: 0;
			pointer-events: none;
			position: fixed;
			margin-bottom: $props-list-margin-bottom;
		}

		.rop-item-wrapper.has-image + & {
			margin-left: $props-image-level-offset;
		}

		.sublevel-is-visible + & {
			opacity: 1;
			pointer-events: initial;
			position: relative;
		}
	}

	// =================================================================================================================
	// PROPS ITEM
	// =================================================================================================================
	.prop-item {
		margin-top: $props-spacing;
	}

	.prop-item-wrapper {
		display: flex;
	}

	.prop-item-content-box {
		flex-grow: 1;
		display: flex;
		align-items: center;
	}

	// Props Image
	.prop-item-image-box {
		background-color: $prop-image-bg-color;
		width: $prop-image-size;
		height: $prop-image-size;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: $prop-image-spacing;

		img {
			max-width: 100%;
			max-height: 100%;
		}
	}

	// Prop Actions (linking)
	.prop-item-actions-box {
		margin-left: $prop-actions-margin-left - $prop-action-margin-x;
		margin-top: $prop-actions-margin-top;
		height: $prop-action-height + $prop-action-margin-y;
	}

	.prop-item-action {
		margin: $prop-action-margin-y $prop-action-margin-x;

		&,
		.button-icon {
			@include icon-size(
							$prop-action-box-size,
							$prop-action-img-size);

			@include icon-style($prop-action-color);

			&:hover,
			&:focus {
				@include icon-style($prop-action-hover-color);
			}
		}

		.button {
			min-height: 0;
			border: 0 solid transparent;
		}
	}

	// =================================================================================================================
	// PROPS TYPES
	// =================================================================================================================
	.prop-item {
		.input,
		.textarea,
		.select-box {
			margin-top: 0;
			margin-bottom: 0;
		}
	}

	.prop-item-label {
		font-size: $prop-label-font-size;
		line-height: $prop-label-line-height;
		font-weight: $prop-label-font-weight;
		text-transform: $prop-label-text-transform;
		color: $prop-label-color;
		display: flex;
		margin-bottom: $prop-label-margin-bottom;

		@include user-select();

		.tooltip-icon {
			margin-left: $base-module;
		}
	}

	// PROP: toggle
	// =================================================================================================================
	.prop-type-toggle {
		.toggle-button {
			width: 100%;
		}

		.toggle-label {
			display: flex;
			align-items: center;
			min-height: ($prop-action-box-size + $prop-actions-margin-top );
		}
	}

	// PROP: input
	// =================================================================================================================
	.prop-type-input {
		.input {
			width: 100%;
		}
	}

	// PROP: textarea
	// =================================================================================================================
	.prop-type-textarea {
		.textarea {
			width: 100%;
		}
	}

	// PROP: constructor
	// =================================================================================================================
	.prop-constructor-wrapper {
		display: flex;
		width: 100%
	}

	.prop-constructor-content {
		flex-grow: 1;

		& + .toggle-button { margin-left: $prop-constructor-toggle-spacing }
	}

	.prop-constructor-button {
		margin-top: $prop-constructor-button-margin-top;
	}

	// PROP: array
	// =================================================================================================================
	.block-content-box-heading + .block-content-box-item {
		.prop-type-array {
			margin-top: 0;
		}
	}

	.prop-array-table {
		margin-left: -$prop-array-cell-padding-x;
		width: calc(100% + #{$prop-array-cell-padding-x*2});
		border-spacing: 0;

		@include user-select();

		td {
			padding: $prop-array-cell-padding-y $prop-array-cell-padding-x;
		}
	}

	// Header
	.prop-array-header-cell {
		font-size: $prop-array-header-font-size;
		color: $prop-array-header-font-color;
		font-weight: $prop-array-header-font-weight;
		line-height: $prop-array-header-line-height;
	}

	// Body
	.prop-array-body-row {
		@include single-transition();

		&:hover {
			background-color: $prop-array-row-hover-bg-color;
		}
	}

	.prop-array-body-cell {
		font-size: $prop-array-body-font-size;
		color: $prop-array-body-font-color;
		font-weight: $prop-array-body-font-weight;
		line-height: $prop-array-body-line-height;
	}

	.prop-array-cell-align {
		#{&}-left { text-align: left; }
		#{&}-right { text-align: right; }
		#{&}-center { text-align: center; }
	}

	// Add new row
	.prop-array-add-new-row {
		text-align: right;
		margin-top: $prop-array-add-row-margin-top;
		margin-right: -$prop-array-cell-padding-x;
	}

	.prop-array-body-new-row {
		background-color: $prop-array-new-row-bg-color;
		padding: $prop-array-new-row-pad-y $prop-array-new-row-pad-x;
		display: flex;
		align-items: flex-end;
		margin-top: $prop-array-add-row-margin-top;
		margin-left: -$prop-array-cell-padding-x;
		width: calc(100% + #{$prop-array-cell-padding-x*2});

		.input { flex-grow: 1 }

		.button {
			margin-left: $prop-array-new-row-element-spacing;
		}

		.button-text {
			padding-left: 0;
			padding-right: 0;
		}
	}

	// Clearing
	.prop-array-clearing-cell {
		.button-icon {
			@include icon-size(
							$prop-array-clearing-box-size,
							$prop-array-clearing-img-size);

			@include icon-style($prop-array-clearing-color);

			&:hover,
			&:focus {
				@include icon-style($prop-array-clearing-hover-color);
			}
		}
	}

	// PROP: tree
	// =================================================================================================================
	.prop-tree {	}

	// LIST
	.prop-tree-list {
		.prop-tree-item & {
			margin-left: $prop-tree-level-offset;
			margin-top: $prop-tree-items-spacing;

			position: fixed;
			opacity: 0;
			pointer-events: none;
		}

		.sublevel-is-opened + & {
			position: relative;
			opacity: 1;
			pointer-events: initial;
		}
	}

	// ITEM
	.prop-tree-item {
		& + & {
			margin-top: $prop-tree-items-spacing;
		}

		&:last-child {
			margin-bottom: $prop-tree-item-last-margin-bottom;
		}
	}

	.prop-tree-item-content {
		display: flex;
	}

	.prop-tree-item-title-box {
		flex-grow: 1;
	}

	.prop-tree-item-value-box {
		flex-basis: $prop-tree-value-width;
		max-width: $prop-tree-value-width;
		flex-shrink: 0;
		padding-left: $prop-tree-value-spacing;

		.prop-tree-item-type-constructor &,
		.value-not-settable & {
			text-align: right;
		}
	}

	// Icon
	.prop-tree-item-icon-left {
		margin-right: $prop-tree-icon-margin;
		cursor: $cursor-pointer;
		border-radius: $prop-tree-icon-border-radius;

		&,
		.button-icon {
			@include icon-size(
							$prop-tree-icon-box-size,
							$prop-tree-icon-img-size);

			@include icon-style($prop-tree-icon-color);

			&:hover,
			&:focus {
				@include icon-style($prop-tree-icon-hover-color);
			}
		}

		&:hover,
		&:focus {
			.button {
				background-color: $prop-tree-icon-hover-bg-color;
			}
		}

		.button {
			min-height: 0;
		}
	}

	// Title
	.prop-tree-item-title-box {
		.prop-tree-item-content:not(.has-icon-left) & {
			padding-left: $prop-tree-icon-box-size + $prop-tree-icon-margin;
		}
	}

	.prop-tree-item-title {
		font-size: $prop-tree-title-font-size;
		line-height: $prop-tree-title-line-height;
		font-weight: $prop-tree-title-font-weight;
		text-transform: $prop-tree-title-text-transform;
		color: $prop-tree-title-color;

		.is-flat-array & { color: $prop-tree-title-flat-color; }
	}

	.prop-tree-item-type {
		font-size: $prop-tree-type-font-size;
		line-height: $prop-tree-type-line-height;
		font-weight: $prop-tree-type-font-weight;
		text-transform: $prop-tree-type-text-transform;
		color: $prop-tree-type-color;
	}

	// Value
	.prop-tree-item-value-static {
		font-size: $prop-tree-value-static-font-size;
		font-style: $prop-tree-value-font-style;
		color: $prop-tree-value-static-color;
	}

	.prop-tree-item-value-box {
		.prop-item {
			margin-top: 0;
		}

		.prop-item-content-box {
			max-width: calc(100% - #{$prop-action-box-size + $prop-actions-margin-left});
		}

		.input-content-box,
		input {
			max-width: 100%;
		}
	}

	// Action
	.prop-tree-item-action-row {
		margin: $prop-tree-action-margin-top 0 $prop-tree-action-margin-bottom;
		padding-left: $prop-tree-icon-box-size + $prop-tree-icon-margin;
		text-align: $prop-tree-action-align;
	}
}

