@charset "UTF-8";
@import 'variables';

// Type classnames
$prop-input: 'props-type-input';
$prop-textarea: 'props-type-textarea';
$prop-list: 'props-type-list';
$prop-constructor: 'props-type-constructor';
$prop-array: 'props-type-array';
$prop-toggle: 'props-type-toggle';

@include exports(props-list) {
	// =================================================================================================================
	// BASE
	// =================================================================================================================

	// =================================================================================================================
	// PROPS ITEM
	// =================================================================================================================
	.prop-item {
		display: flex;
		margin-top: $props-spacing;
	}

	.prop-item-content-box {
		flex-grow: 1;
	}

	// Prop Actions (linking)
	.prop-item-actions-box {
		margin-left: $prop-actions-margin-left - $prop-action-margin-x;
		margin-top: $prop-actions-margin-top;
		height: $prop-action-height + $prop-action-margin-y;
	}

	.prop-item-action {
		margin: $prop-action-margin-y $prop-action-margin-x;

		&,
		.button-icon {
			@include icon-size(
							$prop-action-box-size,
							$prop-action-img-size);

			@include icon-style($prop-action-color);

			&:hover,
			&:focus {
				@include icon-style($prop-action-hover-color);
			}
		}

		.button {
			min-height: 0;
			border: 0 solid transparent;
		}
	}

	// =================================================================================================================
	// PROPS TYPES
	// =================================================================================================================
	.prop-item {
		.input,
		.textarea,
		.select-box {
			margin-top: 0;
			margin-bottom: 0;
		}
	}

	.prop-item-label {
		font-size: $prop-label-font-size;
		line-height: $prop-label-line-height;
		font-weight: $prop-label-font-weight;
		text-transform: $prop-label-text-transform;
		color: $prop-label-color;
		display: block;
		margin-bottom: $prop-label-margin-bottom;

		@include user-select();
	}

	// PROP: toggle
	// =================================================================================================================
	.prop-type-toggle {
		.toggle-label {
			display: flex;
			align-items: center;
			min-height: ($prop-action-box-size + $prop-actions-margin-top );
		}
	}

	// PROP: constructor
	// =================================================================================================================
	.prop-constructor-wrapper {
		display: flex;
	}

	.prop-constructor-content {
		flex-grow: 1;

		& + .toggle-button { margin-left: $prop-constructor-toggle-spacing }
	}

	.prop-constructor-button {
		margin-top: $prop-constructor-button-margin-top;
	}

	// PROP: array
	// =================================================================================================================
	.block-content-box-heading + .block-content-box-item {
		.prop-type-array {
			margin-top: 0;
		}
	}

	.prop-array-table {
		margin-left: -$prop-array-cell-padding-x;
		width: calc(100% + #{$prop-array-cell-padding-x*2});
		border-spacing: 0;

		@include user-select();

		td {
			padding: $prop-array-cell-padding-y $prop-array-cell-padding-x;
		}
	}

	// Header
	.prop-array-header-cell {
		font-size: $prop-array-header-font-size;
		color: $prop-array-header-font-color;
		font-weight: $prop-array-header-font-weight;
		line-height: $prop-array-header-line-height;
	}

	// Body
	.prop-array-body-row {
		@include single-transition();

		&:hover {
			background-color: $prop-array-row-hover-bg-color;
		}
	}

	.prop-array-body-cell {
		font-size: $prop-array-body-font-size;
		color: $prop-array-body-font-color;
		font-weight: $prop-array-body-font-weight;
		line-height: $prop-array-body-line-height;
	}

	.prop-array-cell-align {
		#{&}-left { text-align: left; }
		#{&}-right { text-align: right; }
		#{&}-center { text-align: center; }
	}

	// Add new row
	.prop-array-add-new-row {
		text-align: right;
		margin-top: $prop-array-add-row-margin-top;
		margin-right: -$prop-array-cell-padding-x;
	}

	.prop-array-body-new-row {
		background-color: $prop-array-new-row-bg-color;
		padding: $prop-array-new-row-pad-y $prop-array-new-row-pad-x;
		display: flex;
		align-items: flex-end;
		margin-top: $prop-array-add-row-margin-top;
		margin-left: -$prop-array-cell-padding-x;
		width: calc(100% + #{$prop-array-cell-padding-x*2});

		.input { flex-grow: 1 }

		.button {
			margin-left: $prop-array-new-row-element-spacing;
		}

		.button-text {
			padding-left: 0;
			padding-right: 0;
		}
	}

	// Clearing
	.prop-array-clearing-cell {
		.button-icon {
			@include icon-size(
							$prop-array-clearing-box-size,
							$prop-array-clearing-img-size);

			@include icon-style($prop-array-clearing-color);

			&:hover,
			&:focus {
				@include icon-style($prop-array-clearing-hover-color);
			}
		}
	}

	// PROP: tree
	// =================================================================================================================
	.prop-tree {	}

	// LIST
	.prop-tree-list {
		.prop-tree-item & {
			margin-left: $prop-tree-level-offset;
		}
	}

	// ITEM
	.prop-tree-item {	}
}

