.jssy-app {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-grow: 1;
    width: 100%;
    max-width: 100%;
    position: relative;
}

.jssy-app:focus {
    outline: none;
}
