@charset "UTF-8";
@import '~@reactackle/reactackle/utils/_global';

// =====================================================================================================================
// BASE VARIABLES
// =====================================================================================================================
// Title
$cinteractions-editing-title-font-size:         fs(2) !default;
$cinteractions-editing-title-font-weight:       $font-weight-normal !default;
$cinteractions-editing-title-color:             $body-font-color !default;
$cinteractions-editing-title-text-transform:    none !default;
$cinteractions-editing-title-line-height:       1.5 !default;

$cinteractions-editing-title-margin-top:        $base-module !default;
$cinteractions-editing-title-margin-bottom:     $base-module !default;

// Buttons
$cinteractions-buttons-box-margin-top:          $base-module !default;

$cinteractions-buttons-align:                   right !default;
$cinteractions-button-margin-y:                 $base-module/4 !default;
$cinteractions-button-margin-x:                 $base-module/4 !default;

// ACTION: Item
// =====================================================================================================================
$cinteractions-actions-spacing:                 $base-module !default;

// Text
$cinteractions-action-text-margin-right:        $base-module*2 !default;

$cinteractions-action-title-font-size:          fs(0) !default;
$cinteractions-action-title-font-weight:        $font-weight-semibold !default;
$cinteractions-action-title-color:              $body-font-color !default;
$cinteractions-action-title-text-transform:     none !default;
$cinteractions-action-title-line-height:        1.5 !default;

$cinteractions-action-description-font-size:    fs(-1) !default;
$cinteractions-action-description-font-weight:  $font-weight-normal !default;
$cinteractions-action-description-color:        $cinteractions-action-title-color !default;
$cinteractions-action-description-text-transform: none !default;
$cinteractions-action-description-line-height:  1.35 !default;

// Buttons
$cinteractions-item-button-box-size:            $base-module*3.5 !default;
$cinteractions-item-button-img-size:            $base-module*2 !default;
$cinteractions-item-button-color:               $icon-dark-inactive-color !default;
$cinteractions-item-button-focus-color:         $icon-dark-default-color !default;
$cinteractions-item-button-spacing-x:           $base-module/2 !default;

// ACTIONS LIST
// =====================================================================================================================
$cinteractions-actions-spacing:                 $base-module/2 !default;
