@charset "UTF-8";
@import '~@reactackle/reactackle/utils/global';
@import "ComponentsTreeItem/variables";

// =====================================================================================================================
// BASE VARIABLES
// =====================================================================================================================
$ctree-pad-x:                   $base-module*2 !default;
$ctree-pad-y:                   $base-module*1.5 !default;

$ctree-level-offset:            $base-module !default;
$ctree-level-0-pad-right:       0 !default;
