@charset "UTF-8";
@import 'variables';

@include exports(components-tree) {
    // =================================================================================================================
    // ITEMS LIST
    // =================================================================================================================
    .components-tree {
        padding: $ctree-pad-y $ctree-pad-x;
        padding-left: $ctree-pad-x - $ctree-item-pad-x;
        flex-shrink: 0;
    }

    .components-tree-list {
        margin: 0;
        list-style-type: none;
        padding: 0;
        padding-right: $ctree-level-0-pad-right;

        .components-tree-item & {
            margin-top: $ctree-item-spacing;
            margin-left: $ctree-level-offset;
            padding-right: 0;
        }

        .sublevel-is-hidden & {
            opacity: 0;
            position: fixed;
            pointer-events: none;
        }

        .sublevel-is-visible & {
            opacity: 1;
            pointer-events: initial;
            position: relative;
        }
    }
}
