@charset "UTF-8";
@import 'variables';

@include exports(function-arguments-list) {
	// =================================================================================================================
	// BASE
	// =================================================================================================================
	.function-arguments_new-wrapper {
		background-color: color($yellow-palette, lightest);

		.block-content-box-heading {
			margin-top: 0;
		}

		.button-row {
			text-align: right;
			margin-right: -$base-module;
			margin-bottom: -$base-module;
			margin-top: $base-module*2;
		}
	}

	.function-arguments_list-button {
		.block-content-box-item {
			text-align: left;
			padding-top: 0 !important;
			padding-bottom: 0 !important;
		}

		.button {
			margin-left: -$base-module/2;
		}

		.button-text {
			padding-left: $base-module/2;
		}
	}
}

