@charset "UTF-8";
@import 'variables';

@include exports(data-list) {
	// =================================================================================================================
	// DATA LIST
	// =================================================================================================================
	.data-list {
		margin: (-$data-item-padding-y) (-$data-item-padding-x);
		width: calc(100% + #{$data-item-padding-x*2});
	}

	// =================================================================================================================
	// DATA ITEM
	// =================================================================================================================
	.data-list-item {
		border-radius: $data-item-border-radius;
		display: flex;

		@include single-transition(background-color);
		@include user-select;

		&.is-clickable {
			cursor: $cursor-pointer;

			&:hover,
			&:focus {
				background-color: $data-item-hover-bg-color;
			}
		}



		& + & { margin-top: $data-item-spacing }
	}

	// Content
	// =================================================================================================================
	.data-item_content-box {
		padding: $data-item-padding-y $data-item-padding-x;
		flex-grow: 1;

		.is-chosen & {
			background-color: color($yellow-palette, lightest);
			border-radius: $global-radius;
		}
	}

	// Arguments
	.data-item_arguments-box {
		margin-top: $base-module/4;

		.button {
			margin-left: -$base-module;
		}
	}

	// Data Title
	// =================================================================================================================
	.data-item_title-text {
		font-size: $data-item-title-font-size;
		font-weight: $data-item-title-font-weight;
		line-height: $data-item-title-line-height;
		text-transform: $data-item-title-transform;
		color: $data-item-title-color;

		margin-right: $data-item-type-spacing;
	}

	.data-item_description {
		font-size: $data-item-subtitle-font-size;
		font-weight: $data-item-subtitle-font-weight;
		line-height: $data-item-subtitle-line-height;
		text-transform: $data-item-subtitle-transform;
		color: $data-item-subtitle-color;
		margin-top: $base-module/2;
	}

	.data-item_type {
		font-size: $data-item-type-font-size;
		font-weight: $data-item-type-font-weight;
		line-height: $data-item-type-line-height;
		text-transform: $data-item-type-transform;
		color: $data-item-type-color;
		margin-right: $data-item-type-spacing;
	}

	// ACTIONS
	// =================================================================================================================
	.data-item_actions {
		margin-left: $base-module/2;
	}

}

