@charset "UTF-8";
@import 'variables';

@include exports(source-group-heading) {
    .source-group_heading {
        padding: $base-module/2 $source-padding-x;

        font-size: fs(-1);
        text-transform: uppercase;
        font-weight: $font-weight-semibold;
        color: $color-text-medium;
    }
}
